<header class="masthead" style="padding-bottom: 0rem; height:auto;">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">New Project</h1>
                <hr class="divider" />
            </div> 
            <%= render 'form', project: @project %>
        </div>
    </div>
</header>
<br>
<%= link_to 'Back', projects_path, class: "btn btn-primary" %>
